.error{
    .image_mcc{
        img{
            margin: 100px;
            width: 200px;
            height: 200px;
        }
    }
    .text{
        p{
            font-family: 'Chakra Petch', sans-serif;
        }
    }
    .button{
        input{
            font-family: 'Chakra Petch', sans-serif;
        }
    }
}