.Navbar{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(24, 24, 25);
    position:fixed;
    height: 150px;
    width: 100%;
    

    #logo{
        width: 500px;
        // margin-left:10px;
        margin-bottom: 150px;
        
    }

    p{
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        margin: 20px;
        margin-top: 10px;
        margin-left: 40px;
        // text-decoration: underline;
    }
    a{
        text-decoration:none; 
        
        
    }
    p.active{
        color: rgb(32, 122, 122);
    }
    #login{
        background-color: transparent !important;
        margin-left: 50px;
    }
}